@import "../colors.scss";

.form-fieldset {
  width: 100%;
  border: 1px solid $color-contrast-2;
  border-radius: 0.375rem;
  margin-bottom: 1.5rem;
  padding: 1rem 1.25rem;
  .form-legend {
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: $color-contrast-2;
  }
  .form-row {
    width: 100%;
    display: flex;
    gap: 0.75rem;
    margin-top: 1rem;

    &.single {
      flex-direction: column;
      margin-top: 0.5rem;
    }
    @media (max-width: 600px) {
      &.single {
        flex-direction: row;
      }
    }
    /* Campo individual */
    .form-field {
      display: flex;
      flex-direction: column;
      flex: 1;

      label {
        font-size: 0.85rem;
        color: $color-contrast-2;
        margin-bottom: 0.25rem;
      }

      input {
        color: $color-contrast-2;
        padding: 0.5rem;
        background: none;
        border: 1px solid $color-contrast-2;
        border-radius: 0.25rem;
        &:focus {
          outline: none;
        }
      }
    }
    .password-field {
      .password-input-wrapper {
        position: relative;
        display: flex;
        input {
          flex: 1;
          padding-right: 2.5rem;
        }
        .password-toggle {
          padding: 0;
          position: absolute;
          top: 50%;
          right: 0.5rem;
          transform: translateY(-45%);
          background: transparent;
          border: none;
          color: $color-contrast-2;
          cursor: pointer;
        }
      }
    }
    /* Botón principal */
    .config-user-submit {
      width: 100%;
      margin-top: 0.5rem;
    }
  }

  @media (max-width: 600px) {
    .form-input-container {
      input,
      textarea {
        min-width: 240px;
      }
    }
  }
}

.link {
  width: 100%;
  text-align: end;
  font-size: 12px;
  a {
    text-decoration: underline;
    font-size: 12px;
    color: $color-bg-2;
  }
}
