@import "../colors.scss";

.form-input-container {
  display: flex;
  flex-direction: column;
  label {
    color: $color-contrast-2;
  }
  input,
  textarea {
    min-width: 300px;
    background: $color-contrast-3;
    color: $color-contrast-2;
    border: $color-contrast-2 1px solid;
  }
  span {
    color: crimson;
  }
  p {
    text-align: right;
    font-size: 12px;
    white-space: pre-line;
    word-break: break-word;
    overflow-wrap: break-word;
    a {
      color: $color-bg-2;
    }
  }
}

@media (max-width: 600px) {
  .form-input-container {
    input,
    textarea {
      min-width: 240px;
    }
  }
}
