$color-bg: #293241;
$color-bg-2: #404e66;
$color-bg-3: #1f2530;
$color-bg-4: #303b50;
$color-text: #fff;
$color-contrast: #98c1d9;
$color-contrast-2: #7798ac;
$color-contrast-3: #e0f4ff;
$color-contrast-4: #0086da;
$color-dropdown: #0086da50;
$color-dropdown-highlight: #0086da6b;
$footer-bg: #1d1d1d;
