$color-bg: #293241;
$color-bg-2: #404e66;
$color-bg-3: #1f2530;
$color-bg-4: #303b50;
$color-bg-5: #141924;
$color-text: #fff;
$color-contrast: #98c1d9;
$color-contrast-2: #7798ac;
$color-contrast-3: #e0f4ff;
$color-contrast-4: #0095da;
$color-contrast-5: #293b61;
$color-contrast-6: #bad0ff;
$color-dropdown: #ffffff22;
$color-dropdown-highlight: #ffffff34;
$footer-bg: #1d1d1d;
